body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* src/App.css */
html {
  scroll-behavior: smooth;
}

.my-red {
  color: #FF000C; 
}

.red-line {
  border: 1px solid #121212;
  margin: 40px 0;
} 


.text-custom-pink {
  color: #FF385C !important;
}
.bg-custom-pink {
  background-color: #FF385C !important;
}
.btn-custom-pink {
  background-color: #FF385C;
  border-color: #FF385C;
  color: #fff;
}
.btn-custom-pink:hover {
  background-color: #e63252; /* Darker pink for hover */
  border-color: #e63252;
  color: #fff;
}
.portfolio .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.portfolio .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1) !important;
}